{
  "$schema": "https://opencode.ai/config.json",
  "model": "ollama-cloud/qwen2.5-coder:14b-32k",
  "mcp": {
    "figma": {
      "type": "local",
      "command": ["npx", "-y", "@figma/mcp"],
      "environment": {
        "FIGMA_API_KEY": "{{ default "REPLACE_ME" .figma_api_key }}"
      }
    }
  },
  "provider": {
    "ollama-cloud": {
      "options": {
        "baseURL": "http://192.168.68.221:11434/v1",
        "apiKey": "ollama"
      },
      "models": {
        "qwen2.5-coder:14b-32k": {
          "name": "Qwen 2.5 Coder 14b-32k",
          "tool_call": true,
          "temperature": true,
          "limit": {
            "context": 32768,
            "output": 8192
          }
        }
      }
    }
  }
}
